/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
:root {
  --primary-color: #272822;
}
* {
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
.container {
  width: 900px;
  box-shadow: 0px 0px 10px 2px rgb(128, 128, 128);
}
header {
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}
header img {
  height: 55px;
  margin-left: 10px;
}
header ul {
  list-style: none;
  display: flex;
  font-size: 16px;
  margin-right: 20px;
}
header ul li {
  margin-right: 15px;
}
header ul li a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  position: relative;
}
header ul li a::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
  right: 0;
  display: none;
  bottom: -5px;
  transition: 0.3;
}
header ul li:hover a::after {
  display: inline-block;
  width: 100%;
}
.img-header img {
  width: 880px;
  box-shadow: 0 0 0px 10px var(--primary-color);
  margin: 20px 0 20px 10px;
}
.services {
  width: 100%;
  height: 265px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.services div.card {
  width: 250px;
  height: 170px;
  box-shadow: 0 0 5px 1px rgb(175, 175, 175);
  border-radius: 10px;
  padding: 10px;
}
.sub-header {
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-header h4 {
  display: inline-block;
  background-color: var(--primary-color);
  height: 25px;
  text-align: center;
  line-height: 25px;
  width: 25px;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
}
.services #cont {
  position: relative;
  bottom: 20px;
}
.more-info {
  height: 350px;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.more-info #image-content {
  width: 420px;
  position: relative;
  top: 5px;
}
.more-info #image-content img {
  width: 100%;
}
.more-info #image-content .text-content {
  width: 200px;
  height: 270px;
  position: absolute;
  top: 0;
  font-size: 12px;
  padding: 20px;
}
.more-info #image-content .text-content h3 {
  font-size: 18px;
}
.more-info #image-content .text-content p {
  width: 120px;
}
.more-info #image-content .text-content a {
  text-decoration: none;
  background-color: #fff;
  padding: 3px 20px;
  border-radius: 5px;
  color: #000;
}
.footer-1 {
  margin-top: 10px;
  width: 100%;
  height: 250px;
  background-color: var(--primary-color);
  padding: 20px;
  display: flex;
  justify-content: center;
}
.contet {
  width: 250px;
  margin-right: 20px;
}
.contet h3 {
  color: #fff;
}
.contet ul {
  list-style: none;
  margin-left: -40px;
}
.contet ul li a {
  color: #fff;
  text-decoration: none;
}
.contet ul li a:hover {
  color: rgb(70, 70, 223);
}
.contet p {
  font-size: 12px;
  color: #fff;
}
.contet ul#links li a {
  display: inline-block;
  width: 150px;
  height: 40px;
  margin-top: 3px;
  line-height: 40px;
  display: flex;
  align-items: center;
}
.contet ul#links li a i {
  font-size: 30px;
  margin-right: 5px;
}
footer {
  width: 100%;
  height: 40px;
  background-color: var(--primary-color);
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
}
